pandas>=2.2.2
tqdm>=4.66.4
langchain>=0.2.11
langchain-community>=0.2.10
langchain-openai>=0.1.19
streamlit>=1.37.0
plotly>=5.23.0
chromadb>=0.5.5
openai>=1.37.1
numpy>=1.26.4
scipy>=1.14.0
scikit-learn>=1.5.1
tensorflow>=2.16.2
torch>=2.4.0
transformers>=4.43.3
tiktoken>=0.7.0
regex==2024.7.24
requests>=2.32.3
aiohttp>=3.9.5
yarl>=1.9.4
certifi>=2024.7.4
charset-normalizer>=3.3.2
idna>=3.7
multidict>=6.0.5
async-timeout>=4.0.3
attrs>=23.2.0
typing_extensions>=4.12.2
packaging>=24.1
protobuf>=3.20.3
pysqlite3-binary
