pandas
tqdm
langchain
langchain-openai
langchain-community
langchain-chroma
openai
streamlit
plotly
chromadb
python-dotenv
tiktoken
numpy
scipy
scikit-learn
pydantic
requests
aiohttp
tenacity
yarl
typing-extensions
packaging
zipp
importlib-metadata
click
altair
blinker
cachetools
certifi
charset-normalizer
colorama
decorator
gitdb
GitPython
idna
Jinja2
jsonschema
markdown-it-py
MarkupSafe
mdurl

pyarrow
Pygments
Pympler
pytz
rich
six
smmap
toml
toolz
tornado
tzlocal
urllib3
validators
watchdog
protobuf==3.20.1
